extends layout

block content
    nav(class='navbar navbar-default navbar-fixed-top' id='test' role='navigation')
        a(class='navbar-brand' href='#') talasurf
        ul(class='nav navbar-nav')
            li
                a(class='navLinks' href='/') home
            li
                a(class='navLinks' href='/about') about
    div(class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button' class='close' data-dismiss='modal' aria-hidden='true')
                    h4(class='modal-title' id='myModalLabel') Current Beaches
                    div(class='modal-body')
                    div(class='modal-footer')
                        button(type='button' class='btn btn-default' data-dismiss='modal') Close
    div(class='banner')
        div(class='bannerText') Welcome to Talasurf
        img(class='featurePhoto' src='http://img.wallpaperstock.net:81/surfer-wallpapers_25497_1280x720.jpg')
    div(class='contentWrapper')
        div(id='masonry')
            div(class='item')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore' href='#{docs[docs.length-1].blogURL}') READ MORE
                    div(class='overlayText')
                        h3 #{docs[docs.length-1].description}
                img(class='triImage' src='#{docs[docs.length-1].imageSource}')
            div(class='item')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore' href='#{docs[docs.length-2].blogURL}') READ MORE
                    div(class='overlayText')
                        h3 #{docs[docs.length-2].description}
                img(class='triImage' src='#{docs[docs.length-2].imageSource}')
            div(class='item')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore' href='#{docs[docs.length-3].blogURL}') READ MORE
                    div(class='overlayText')
                        h3 #{docs[docs.length-3].description}
                img(class='triImage' src='#{docs[docs.length-3].imageSource}') 
            iframe(class='item' iframe src='//player.vimeo.com/video/63836620?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933' width="645" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
            div(class='item')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore' href='#{docs[docs.length-4].blogURL}') READ MORE
                    div(class='overlayText')
                        h3 #{docs[docs.length-4].description}
                img(class='triImage' src='#{docs[docs.length-4].imageSource}')
        div(id='quarterMasonry')
            div(class='quarterItem')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore quarter' href='#{docs[docs.length-8].blogURL}') READ MORE
                    div(class='overlayText')
                        p(class='overlayText quarter') #{docs[docs.length-8].description}
                img(class='quadImage' src='#{docs[docs.length-8].imageSource}')
            div(class='quarterItem')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore quarter' href='#{docs[docs.length-9].blogURL}') READ MORE
                    div(class='overlayText')
                        p(class='overlayText quarter') #{docs[docs.length-9].description}
                img(class='quadImage' src='#{docs[docs.length-9].imageSource}') 
            div(class='quarterItem')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore quarter' href='#{docs[docs.length-10].blogURL}') READ MORE
                    div(class='overlayText')
                        p(class='overlayText quarter') #{docs[docs.length-10].description}
                img(class='quadImage' src='#{docs[docs.length-10].imageSource}') 
            div(class='quarterItem')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore quarter' href='#{docs[docs.length-11].blogURL}') READ MORE
                    div(class='overlayText')
                        p(class='overlayText quarter') #{docs[docs.length-11].description}
                img(class='quadImage' src='#{docs[docs.length-8].imageSource}')
        div(id='tripMasonry')
            div(class='tripItem')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore' href='#{docs[docs.length-5].blogURL}') READ MORE
                    div(class='overlayText')
                        h3 #{docs[docs.length-5].description}
                img(class='triImage' src='#{docs[docs.length-5].imageSource}')
            div(class='tripItem')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore' href='#{docs[docs.length-6].blogURL}') READ MORE
                    div(class='overlayText')
                        h3 #{docs[docs.length-6].description}'
                img(class='triImage' src='#{docs[docs.length-6].imageSource}')
            div(class='tripItem')
                div(class='overlayHover')
                div(class='protectLink')
                    a(class='readMore' href='#{docs[docs.length-7].blogURL}') READ MORE
                    div(class='overlayText')
                        h3 #{docs[docs.length-7].description} 
                img(class='triImage' src='#{docs[docs.length-7].imageSource}') 
    div(class='footer') 
        p(class='copyright')&copy; 2014 Talasurf. Made in CA.

      



    




